@{
    Layout = "_Layout";
}
<div class="container">
    <div class="jumbotron">
        <h2 class='fancy-shadow'>Thank you for using the word search.</h2>
        <h3 class='fancy-shadow'>Your searched word: @Model[@Model.Count - 1].GetTargetWord() returned @Model[Model.Count-1].GetResult() matches.</h3>
        <a href="/counter-form"><button type='button' class='btn btn-lg btn-info'>Search for another word</a>
    </div>
    <div class="word-history">
        <h2 class='fancy-shadow'>Search History:</h2>
    </div>
    <div class="grid-container">
        <div class="grid-item fancy-shadow">Searched Word</div>
        <div class="grid-item fancy-shadow">Result</div>
    
        @foreach(var search in Model)
        {
        <div class="grid-item">@search.GetTargetWord()</div>
        <div class="grid-item">@search.GetResult()</div>
        }
    </div>
</div>


