@{
  Layout = "_Layout";
}

<div class="container">
    <div class=" = jumbotron">
        <h1>Welcome to the Repeat Counter Game!</h1>
        <p>First, enter a word. Then, enter a phrase to see how many time your chosen word appears</p>
    </div>

</div>