@{
  Layout = "_Layout";
}

<div class="container">
    <div class="jumbotron">
        <h1>You have entered the Repeat Counter!</h1>
    </div>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <h4>First, enter a word. Then, enter a phrase to see how many time your chosen word appears</h4>
        </div>
        <div class='panel-body'>
            <form id='counter-form' action='/counter-form/counter-results' method='post'>
                <div class='form-group'>
                    <label for='word'>Enter a word to search for.</label>
                    <input type='text' name='word' id='inputWord' class='form-control' autocomplete="off" required>
                </div>
                <div class='form-group'>
                    <label for='phrase'>Enter a phrase to search through.</label>
                    <input type='text' name='phrase' id='inputWeight' class='form-control' autocomplete="off" required>
                </div>
                <button type='submit' name='button' id='submit-form' class='btn btn-lg btn-info'>Enter</button>
            </form>
        </div>
    </div>

</div>