@{
  Layout = "_Layout";
}

<div class="container">
    <div class=" = jumbotron">
        <h1>Welcome to the Repeat Counter!</h1>
        <h3><a href="/counter-form">Click Here To Enter</a></h3>

    </div>

</div>